<div class="container">
  <div class="row">
    <div class="col-5 m-3">
  <h2 class="align-middle">ユーザー情報</h2>
  </div>
      <div class="col-2 mt-3">
      <%= link_to "投稿履歴を見る", lists_post_images_path, class: "link-primary offset-1" %>
      </div>
  </div>
  <div class="row m-2">
   <div class="col-6 m-4">
    <table class="table table-bordered border-success">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
        </tr>
        <tr>
          <td><%=@customer.name %></td>
          <td><%=@customer.email %></td>
        </tr>
      </thead>
    </table>
   </div>
   <div class="col-3 d-flex align-items-end gap-2">
    <%= link_to "編集する",customers_information_edit_path, class:"btn btn-success mx-2" %>
    <%= link_to "退会する",customers_unsubscribe_path, class:"btn btn-info mx-3" %>
   </div>
  </div>
  <div class="row m-3">
    <%= render "public/post_images/new",post_image: @post_image %>
  </div>
</div>