<div class="container">
  <div class="row">
    <div class="col-6 mt-5">
     <h2>ログイン</h2>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-7 mt-2">
      <%= form_with model:@admin, url: admin_session_path do |f| %>
      <div class="field">
      <%= f.label :email,"メールアドレス", class:"col-form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-md-6" %>
      </div>
      <div class="field">
      <%= f.label :password,"パスワード", class:"col-form-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"form-controlv col-md-6" %>
      </div>
      <div class="actions">
      <%= f.submit "ログイン", class:"btn btn-success mt-3 offset-3" %>
      </div>
      <% end %>
    </div>
  </div>
</div>