<h2>投稿詳細</h2>
<%= image_tag @post_image.get_image(200,200) %>
<%= @post_image.title %>
<%= @post_image.introduction %>
<%= @post_image.customer.name %>
<%= @post_image.created_at.strftime("%Y/%m/%d") %>
<% @post_image.tags.each do |tag| %>
<%= tag.name %>
<% end %>

<div>
  <p>コメント件数：<%= @post_image.messages.count %></p>
  <% @post_image.messages.each do |message| %>
    <%= message.customer.name %>
    <%= message.message %>
    <%= message.created_at.strftime('%Y/%m/%d') %>
    <% if message.customer == current_customer %>
    <%= link_to "削除",post_image_message_path(message.post_image,message),method: :delete %>
    <% end %>
  <% end %>
</div>
<% if current_customer.present? %>
<div>
  <%= form_with model: [@post_image, @message] do |f| %>
    <%= f.text_area :message, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<%= link_to "編集する",edit_post_image_path(@post_image.id) %>
<%= link_to "削除する", post_image_path(@post_image.id),method: :delete,"data-confirm"=>"本当に削除しますか？" %>
  <% if @post_image.bookmarked_by?(current_customer) %>
    <p>
      <%= link_to post_image_bookmarks_path(@post_image), method: :delete do %>
        ★<%= @post_image.bookmarks.count %> ブックマーク解除
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_image_bookmarks_path(@post_image), method: :post do %>
        ★<%= @post_image.bookmarks.count %> ブックマーク追加
      <% end %>
    </p>
  <% end %>

  <% else %>

  <% end %>
