<header>
  <a class="navbar-brand p-3" href="/">Swwet tour</a>
    <% if customer_signed_in? %>
    <ul class="nav col-lg-auto my-3 my-md-0">
      <li>ようこそ、<%= current_customer.name %>さん！</li>
    </ul>
    <% end %>
    <ul class="nav col-6 col-sm-3 col-lg-auto my-2 justify-content-end my-md-0">
    <% if customer_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary mx-3 my-1" %>
        <%= link_to "マイページ", customers_my_page_path, class: "btn btn-outline-secondary mx-3 my-1" %>
        <%= link_to "投稿一覧", post_images_path, class: "btn btn-outline-secondary mx-3 my-1" %>
        <%= link_to "ブックマーク一覧", bookmarks_path, class: "btn btn-outline-secondary mx-3 my-1" %>
      </li>
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to "投稿一覧", admin_post_images_path, class: "btn btn-outline-secondary mx-3 my-1" %>
          <%= link_to "会員一覧",admin_customers_path,class: 'btn btn-outline-secondary mx-3 my-1'%>
          <%= link_to "ログアウト",destroy_admin_session_path, method: :delete,class: 'btn btn-outline-secondary mx-3 my-1'%>
        </li>
    <% else %>
      <li>
        <%= link_to "ABOUT",about_path, class: "btn btn-outline-secondary mx-3 my-1" %>
        <%= link_to "投稿一覧", post_images_path, class: "btn btn-outline-secondary mx-3 my-1" %>
        <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary mx-3 my-1" %>
        <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary mx-3 my-1" %>
      </li>
    <% end %>
    <%= form_with(url: search_post_images_path, method: :get, local: :true) do |f| %>
      <%= f.text_field :keyword %>
      <%= f.submit "検索" %>
    <% end %>
    </ul>
     </div>
    </div>
  </header>