<header>
  <title>Sweet tour</title>
   <%= form_with url: finder_path, method: :get, local: :true do |f| %>
      <%= f.select :range, options_for_select([['PostImage']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
      <%= f.text_field :word %>
      <%= f.submit "検索" %>
   <% end %>
    <% if customer_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "マイページ", customers_my_page_path %>
      </li>

      <li>
        <%= link_to "投稿一覧", post_images_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "ゲストログイン（閲覧用）",customers_guest_sign_in_path, method: :post %>
      </li>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
  </header>